/*master css file*/
/*zero out*/
*, html {
  margin: 0;
  padding: 0;
}
/*text*/
body {
  font-family: 'Roboto Slab', serif;
  color: #0C2D48;
  background-color: #B1D4E0;
}
p {
  font-size: 1em;
}
h1 {
  font-size: 2em;
  margin: 5px;
}
h2 {
  font-size: 1.8em;
  margin: 5px;
}
h3 {
  font-size: 1.6em;
  margin: 5px;
}
/*main layout*/
#header {
  margin: 0 0 5px 0;
}
#tribute-info {
  background-color: #E8EEF1;
  border-radius: 10px;
  max-width: 750px;
  margin: 5px auto;
  padding: 5px 0;
}
#img-div {
  max-width: 750px;
  margin: 5px auto 0 auto;
  position: relative;
}
#img-div img {
  max-width: 100%;
  border-radius: 10px;
  margin: auto;
  display: block;
  height: auto;
}
#title {
  font-size: 3em;
  font-weight: bold;
  color: #0C2D48;
  position: absolute;
  top: 12px;
  left: 5px;
}
#title-two {
  font-size: 3em;
  font-weight: bold;
  color: #0C2D48;
  position: absolute;
  top: 60px;
  left: 10%;
}
#img-div .header-quote {
  font-size: 1.2em;
  font-style: italic;
  color: #0C2D48;
  position: absolute;
  bottom: 12px;
  left: 10px;
  max-width: 42%;
}
#footer-div {
  max-width: 750px;
  margin: auto;
}
/*tribute info section*/
.heading-container {
  text-align: center;
}
.text-container {
  width: 85%;
  margin: 0 auto 5px auto;
}
.text-container p {
  margin: 5px 0 10px 0;
}
.tribute-story-container {
  display: flex;
  justify-content: center;
  margin: 10px 0px 30px 0px;
}
.year-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 4px dashed #2E8BC0;
}
.story-box {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 60%;
  margin-left: 5%;
  background-color: #2E8BC0;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.arrow {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 30px solid #F83839;
  opacity: 0.9;
  margin: 0 auto;
}
.arrow-container {
  margin: 20px 0;
}
.story-box ul {
  font-size: 1em;
  color: #fff;
  margin: 10px 10px 10px 0;
  padding-left: 30px;
  list-style-position: outside;
}
.story-box li {
  margin: 0 0 5px 0;
}
.button-container {
  display: table;
  margin: 20px auto;
}
.button-container a {
  text-decoration: none;
  color: inherit;
}
.wiki-button {
  background-color: #F83839;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  opacity: 0.9;
}
.wiki-button:hover {
  background-color: #F83839;
  opacity: 0.6;
}
.video {
  max-width: 520px;
  max-height: 315px;
  margin: 0 auto;
}
/*footer*/
#footer p {
  text-align: center;
  font-size: 0.8em;
}
/*title adjustment only media query*/
@media only screen and (max-width: 525px) {
  #title-two {
    left: 8%;
  }
  #img-div .header-quote {
    font-size: 1em;
  }
}
/*phone size media query*/
@media only screen and (max-width: 414px) {
  h2 {
    font-size: 1.7em;
  }
  p {
    font-size: 0.9em;
  }
  .story-box ul {
    font-size: 0.9em;
  }
  #title {
    top: 2px;
    font-size: 2.1em;
  }
  #title-two {
    font-size: 2.1em;
    top: 37px;
    left: 7%;
  }
  #img-div .header-quote {
    font-size: 0.8em;
  }
  .tribute-story-container {
    flex-direction: column;
    align-items: center;
  }
  .year-box {
    width: 85%;
    border-right: 0;
    border-bottom: 4px dashed #2E8BC0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .story-box {
    border-radius: 35px;
    width: 85%;
    margin-left: 0;
    margin-top: 20px;
    background-color: #2E8BC0;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .arrow {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #2E8BC0;
    border-right: 0;
  }
  .arrow-container {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
    h2 {
      font-size: 1.7em;
    }
    #title {
      top: 0px;
      font-size: 1.8em;
    }
    #title-two {
      font-size: 1.8em;
      top: 32px;
      left: 7%;
    }
    #img-div .header-quote {
      font-size: 0.7em;
      bottom: 6px;
    }
  }
